* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #343434;
}

html,
body {
  margin: 0;
}

body {
  padding: 20px;
}

#app {
  max-width: 600px;
}

header a {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

header svg {
  width: 36px;
  height: 36px;
}

header span {
  display: inline-block;
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid #ababab;
  line-height: 0.9;
}

label {
  display: flex;
  align-items: center;
  padding: 4px 0;
  color: #676767;
}

label input {
  margin-left: 12px;
}

code,
code * {
  font-family: monospace !important;
}

code {
  padding: 4px;
  border-radius: 8px;
}

h2 {
  font-size: 18px;
  margin: 0;
}

section {
  padding: 20px 0;
}
