* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #333;
}

html,
body {
  margin: 0;
}

pre {
  margin: 0;
}

body {
  padding: 20px;
}

#app {
  max-width: 600px;
}

header a {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
}

header svg {
  width: 36px;
  height: 36px;
}

header span {
  display: inline-block;
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid #ababab;
  line-height: 1.1;
}

label {
  display: block;
}

p {
  margin: 0;
}

header {
  margin-bottom: 20px;
}

p,
label,
input,
a {
  font-size: 1rem;
}

input[type="text"],
input[type="url"],
select {
  padding: 6px;
  display: block;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 1rem;
}

label {
  padding: 4px 0;
  color: #676767;
}

label > * + * {
  margin-top: 0px;
}

code,
code * {
  font-size: 1rem;
  font-family: monospace !important;
  line-height: 1.4;
}

.label-text {
  margin: 0 0 4px 0;
}

code {
  padding: 4px;
  border-radius: 8px;
}

h2 {
  font-size: 1.125rem;
  margin: 0;
}

section {
  margin-top: 40px;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6px;
}

section > * + * {
  margin-top: 10px;
}

.radio {
  display: flex;
  align-items: center;
}

.radio > * + * {
  margin-left: 6px;
}

.radio input {
  margin: 0;
}

blockquote {
  font-size: 1rem;
  color: #898989;
  padding-left: 6px;
  margin: 10px 0 0 0;
  border-left: 2px solid #cecece;
}

/* Carousel example */

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 276px;
  height: 240px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.slide-title {
  font-size: 1rem;
}

.slide-description {
  font-size: 1rem;
  color: #676767;
}

.slide > * + * {
  margin-top: 10px;
}
